main {
  display: grid;
}
aside ul {
  column-count: 6;
  column-gap: 20px;
  row-gap: 20px;
  max-height: 300px;
  overflow: scroll;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  width: 100%;
  table-layout: fixed;
}

.draggable-list {
  list-style-type: none;
  padding-inline-start: 0px;
}

.meal.draggable {
  background-color: lightblue;
  cursor: move;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.menu-grid {
  display: flex;
  width: 100%;
}

.menu-day {
  flex: 1;
}

.menu-meal {
  min-width: 50px;
  min-height: 70px;
  border: dotted 1px black;
}

aside ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 13px;
  font-family: sans-serif;
}

.meal.draggable {
  background-color: white;
  cursor: move;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
}
