<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner Attempt like a million</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/main.js" type="module"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main id="app">
        <h1>
            Meal Planner
        </h1>
        <aside>
            <ul class="draggable-list">
                <li class="meal draggable" v-for="item in items" draggable="true"
                    v-on:dragstart="dragStart($event, item)">
                    {{ item.name }}
                </li>
            </ul>
        </aside>
        <hr>
        <div class="menu-grid">
            <div class="menu-day" v-for="day in weeklySchedule">
                <h3>
                    {{day.day}}
                </h3>
                <div class="menu-meal" v-for="meal in day.meals"  v-on:drop="dragDrop($event, meal)" v-on:dragover="$event.preventDefault()">
                    <sup>
                        {{ meal.mealTime }}
                    </sup>
                    <div class="meal">
                        <div v-for="(food, index) in meal.items">
                            {{ food.name }}
                            <span v-on:click="removeFood(meal, index)">❌</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button v-on:click="clearMenu">Clear Menu</button>
    </main>
</body>

</html>